[submodule "KonosCL/addons-konos"]
	path = KonosCL/addons-konos
	url = git@github.com:KonosCL/addons-konos.git
	branch = 12.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 12.0

[submodule "intellego-bi/odoo-12"]
	path = intellego-bi/odoo-12
	url = git@github.com:intellego-bi/odoo-12.git
	branch = master
